.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.carouselInner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.carouselItem {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.carouselItem.active {
  opacity: 1;
}

.carouselImage {
  width: 100vw;
  height: auto;
  }

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.arrow:first-of-type {
  left: 10px;
}

.arrow:last-of-type {
  right: 10px;
}
